<div style="margin: 0 auto; max-width: 1300px;">
<mat-form-field style="width: 200px;" appearance="fill">
  <mat-label>Character Name</mat-label>
  <input [ngModel]="searchedName" (ngModelChange)="searchedName = $event" matInput type="text">
  <button *ngIf="searchedName" matSuffix mat-icon-button aria-label="Clear" (click)="searchedName=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>


<mat-form-field style="width: 200px; margin-left: 5px;" appearance="fill">
  <mat-label>Serie Id</mat-label>
  <input  matInput type="text" [(ngModel)]="serieId">
  <button *ngIf="serieId" matSuffix mat-icon-button aria-label="Clear" (click)="serieId=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<button mat-button color="primary" (click)="SearchByName()" > Search</button>


<h1>Characters from this serie</h1>

  <div style="display: flex; flex-wrap: wrap; gap: 20px;">
  <mat-card style="width: 380px; margin-bottom: 8px" class="card" *ngFor="let character of characters">
    <mat-card-title-group>
      <mat-card-title>{{ character.name }}</mat-card-title>
      <mat-card-subtitle>Modified: {{ character.modified  | date:'medium' }}</mat-card-subtitle>
      <img mat-card-sm-image src="{{character.thumbnail.path +'/standard_medium.'+character.thumbnail.extension}}"  >
    </mat-card-title-group>
    <div *ngIf= "character.description != '' ">
      <mat-card-content style="height: 150px;" >
        {{character.description}}
      </mat-card-content>
    </div>
    <div *ngIf= "character.description == '' ">
      <mat-card-content style="height: 150px;" >
      This character contains no description
      </mat-card-content>
    </div>

  </mat-card>
</div>
</div>
